head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='../../vendor/ink/css/ink.css')
  link(rel='stylesheet', href='../css/styles.css')
  title= "Fondation de l'Avenir"
  // inject:head:css
  // contents of css partials will be injected here
  // endinject
  | <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->