include mixins/mixins
doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  include includes/head
  body
    +globalWrapper('#777777')

      +fixedContainer

        +rowFullWidth
          td
            | Lorem Ipsum on twelve columns
          td.expander

        +row
          +col(six)
            td
              | Lorem Ipsum on six columns
            td.expander
          +colLast(six)
            td
              | Lorem Ipsum on six columns
            td.expander