/* === COLORS === */

/* Background colors */
body, .body {
  background: #333333;
}
.c0 {
    background-color: #ffffff;
}
.c100 {
    background-color: #bbdefb;
}
.c500 {
    background-color: #2196F3;
}
.cgrey {
    background-color: #cccccc;
}

/* Text colors */
.twhite {
    color: #ffffff;
}
.t900 {
    color: #0D47A1;
}
.t500 {
    color: #2196F3;
}
.tgrey {
    color: #cccccc;
}

/* === LINKS === */
a {
    text-decoration: underline;
}

/* === LAYOUT === */
.no-pad {
    padding-top: 0px;
    padding-bottom: 0px;
}
.align-right {
    text-align: right;
}
.six-col-border {
    width: 285px !important;
}
.six-col-wrapper {
    padding-right: 10px !important;
}
.px183 {
    height: 183px;
}